workflows/fiwano-connect-channels.json
{
  "id": "fiwano-connect-channels",
  "name": "Fiwano — Connect a Channel via API (WhatsApp / Instagram / Facebook)",
  "nodes": [
    {
      "parameters": {
        "content": "## Connect a Channel via API\n### WhatsApp · Instagram · Facebook\n\nConnect channels **one at a time**, right from n8n. Each run links one Meta account and returns its **`channel_id`**.\n\nThe workflow has two halves:\n- **▶ Get a setup link → Generate setup link** — asks Fiwano for a one-time `setup_url`.\n- **OAuth Callback → Exchange code** — after the user authorizes, Meta redirects back here with `?code=…`; *Exchange code* swaps it for a `channel_id` (single-use, valid 5 min) and shows the connected channel in the browser.\n\n### One-time setup\n1. Open **OAuth Callback** → the **Production URL** tab → copy that URL.\n   *(It's shown even while inactive — activating doesn't create the URL, it just makes the webhook listen.)*\n2. **Whitelist** that URL with Fiwano (it only redirects to approved URLs):\n   - **Portal:** API Keys → Allowed Redirect URIs → add it, **or**\n   - add a **Fiwano → Redirect URI → Add** node, set `uriPattern` to the URL, run once.\n3. Paste the same URL into **Generate setup link → Redirect URI**, and pick a **Channel Type**.\n4. **Activate** the workflow — now the callback is live to receive Meta's redirect.\n\n### Connect a channel\n1. Run **▶ Get a setup link** and open the returned **`setup_url`** in a browser.\n2. Authorize the Meta account → you're redirected back, the code is exchanged, and the connected **`channel_id`** is returned. ✅\n\nRepeat per channel.\n\n### Webhooks — now or later?\nIn **Exchange code → Additional Fields** you can set the channel's **Webhook URL**, **Secret** and **Events** here, so it receives messages the moment it connects. Or leave them empty and let the **Fiwano Trigger**'s *Auto-Setup* wire it — recommended with the **Universal Auto-Responder** template.\n\nn8n must be publicly reachable. You can also connect channels in the [Fiwano portal](https://fiwano.com).\n\n[Docs](https://fiwano.com/documentation/channels)",
        "height": 1275,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-520, 120],
      "id": "cc3d0003-0003-4000-8000-000000000001",
      "name": "About this workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [140, 320],
      "id": "cc3d0003-0003-4000-8000-000000000002",
      "name": "▶ Get a setup link"
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "setupUrl",
        "channelType": "whatsapp",
        "redirectUri": ""
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [360, 320],
      "id": "cc3d0003-0003-4000-8000-000000000003",
      "name": "Generate setup link",
      "credentials": {
        "fiwanoApi": {
          "name": "Fiwano account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "fiwano-oauth-callback",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [140, 600],
      "id": "cc3d0003-0003-4000-8000-000000000004",
      "name": "OAuth Callback",
      "webhookId": "fiwano-oauth-callback"
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "exchangeCode",
        "code": "={{ $json.query.code }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [360, 600],
      "id": "cc3d0003-0003-4000-8000-000000000005",
      "name": "Exchange code → channel",
      "credentials": {
        "fiwanoApi": {
          "name": "Fiwano account"
        }
      }
    }
  ],
  "connections": {
    "▶ Get a setup link": {
      "main": [[{ "node": "Generate setup link", "type": "main", "index": 0 }]]
    },
    "OAuth Callback": {
      "main": [[{ "node": "Exchange code → channel", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}
